.tarea-contenedor {
  min-width: 260px;
  min-height: 65px;
  margin: .5rem 0;
  padding: .8rem 1.5rem .8rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  border: 1px solid white;
  cursor: pointer;
  font-size: clamp(1.4rem, 1vw + 1rem, 2.2rem);
  background-color: #1b1b32;
}

.tarea-texto {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
}

.tarea-contenedor-iconos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarea-icono {
  width: 20px;
  height: 20px;
  margin: .5rem;
}

/* Tarea Completada */

.tarea-contenedor.completada {
  background-color: #5a01a7;
  text-decoration: line-through;
}