* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: Lato, sans-serif;
  color: white;
  background-color: #1b1b32;
  margin-top: 4rem;
}

h1 {
  color: #1b1b32;
  font-size: clamp(2rem, 1vw + 2rem, 3.5rem);
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 2rem 0;
}

.App {
  min-width: 320px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Lista de Tareas */

.tareas-lista-principal {
  flex: 1 1;
  min-height: 500px;
  background-color: #d0d0d5;
  margin: 1rem;
  padding: 2.5rem;
  border-radius: 25px;
}